body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    padding: 3px;
    background: #568bff;
    color: rgb(255, 255, 255);
}

.header h2 {
    margin-left: 25px;
}

.content {
    padding: 10px;
}

.content h2 {
    text-align: center;
    margin: 25px 0;
    color: rgb(255, 99, 60);
    text-shadow: 1px 1px black;
}

.acc_tb {
    margin-top: 50px;
}

.acc_tb table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.acc_tb table th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 18px;
    background-color: rgb(0, 209, 94);
    color: white;
    height: 50px;
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: bold;
}

.acc_tb table td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    text-align: center;
    font-weight: bold;
}