body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('bgimgsf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    padding: 3px;
    background: #568bff;
    color: rgb(255, 255, 255);
}

.header h2 {
    margin-left: 25px;
}

.content {
    padding: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(88, 88, 88, 0.253);
    border-radius: 5px;
    width: 40%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border: 2px solid rgba(207, 207, 207, 0.733);
}

.details h2 {
    text-align: center;
    color: hsl(200, 100%, 99%);
    text-shadow: 4px 3px 2px #7EA0CE;
}

.details form label {
    margin: 0 15px;
    color: white;
}

.details form input {
    width: 90%;
    height: 34px;
    border: 1px solid hsla(216, 100%, 73%, 0.808);
    border-radius: 5px;
    margin: 15px;
    font-size: 15px;
    padding: 0 5px;
}

.details form input:focus {
    outline: 0;
    box-shadow: -2px 3px 45px 9px rgba(94,107,255,0.41);
-webkit-box-shadow: -2px 3px 45px 9px rgba(94,107,255,0.41);
-moz-box-shadow: -2px 3px 45px 9px rgba(94,107,255,0.41);
}

.details form button {
    padding: 10px;
    background-color: hsl(118, 100%, 73%);
    color: white;
    text-shadow: 1px 1px rgb(97, 97, 97);
    border: none;
    border-radius: 5px;
    width: 15%;
    margin: 17px 78%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}