body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 3px;
    background: rgb(121, 91, 255);
    color: rgb(255, 255, 255);
}

.header h2 {
    margin-left: 25px;
}

.menu_body {
    padding: 25px;
}

.menu_body h2 {
    text-align: center;
    margin-bottom: 30px;
}

.menu_tb table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 50px 0;
    border: 1.5px solid black;
    border-collapse: collapse;
}

.menu_body table th {
    border: 1.5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    height: 50px;
    font-size: 18px;
    text-shadow: 1px 1px black;
}

.menu_tb table th {
    background-color: rgb(121, 91, 255);
    color: white;
}

.ftbtn button {
    width: 6%;
    height: 5%;
    border: none;
    border-radius: 10px;
    background-color: rgb(112, 112, 255);
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px rgb(59, 59, 59);
    cursor: pointer;
}

.menu_tb table td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    height: 100px;
}

.menu_tb table th select {
    width: 100%;
    height: 100%;
    background-color: rgb(121, 91, 255);
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}